.header {
    background-color: #445161;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    /* Product name */
    margin-top: 50px;
    margin-left: 50px;
    padding-right: 20px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    color: #ffffff;
    font-family: "Arial";
    font-size: 59px;
}

.header ul {
    /* Style for "Put on thi" */
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    color: #ffffff;
    font-family: "Arial";
    font-size: 20px;
    line-height: 36px;
    padding-left: 50px;
    padding-right: 20px padding-bottom: 30px;
}

.header ul li {
    list-style: none;
    background: url(img/check_icon.png) no-repeat left center;
    padding: 4px 0 4px 35px;
}

.rentangle {
    margin-top: 50px;
    margin-bottom: 59px;
    margin-right: 50px;
    width: 469px;
    height: 214px;
    background-color: #ffffff;
}

.block2 {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.about {
    /* About your product */
    margin-left: 50px;
    margin-top: 50px;
    padding-right: 20px;
    color: #445161;
    font-family: "Arial";
    font-size: 30px;
}

.text1 {

    padding-left: 50px;
    padding-right: 20px;
    color: #333333;
    font-family: "Arial";
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 20px;
}

.kirpich {
    flex: 0 0 430px;
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 59px;
    margin-right: 50px;
    background-color: #445161;
}

.block3 {
    background-color: #f5f5f5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.pluses {
    /* Надо посмотреть как центруют коллеги*/
    padding-top: 50px;
    padding-left: 56px;
    min-width: 100%;
    color: #445161;
    font-family: "Arial";
    font-size: 30px;
}

.block3 ul {
    font-family: "Arial";
    color: #445161;
    font-size: 16px;
    line-height: 24px;
}

.block3 ul li {
    list-style: none;
    background: url(img/Layer_2%20copy.png) no-repeat left center;
    padding: 4px 0 4px 35px;
    flex-grow: 0;
}

.block3l {
    flex: 500px;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 20px
}

.block3r {
    flex: 500px;
    padding-left: 10px;
    padding-right: 50px;
    padding-bottom: 20px;
}

.block4 {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.block4scr {
    padding-left: 56px;
    color: #445161;
    font-family: "Arial";
    font-size: 30px;
    padding-top: 51px;
}

.block4l ul li {
    list-style: none;
    background: url(img/image.png) no-repeat left center;
    padding: 4px 0 4px 210px;
    flex-grow: 0;
    margin-bottom: 20px;
    font-family: "Arial";
    color: #445161;
    font-size: 16px;
    line-height: 24px;
}

.block4r ul li {
    list-style: none;
    background: url(img/image.png) no-repeat left center;
    padding: 4px 0 4px 210px;
    flex-grow: 0;
    margin-bottom: 20px;
    font-family: "Arial";
    color: #445161;
    font-size: 16px;
    line-height: 24px;
}

.block4l {
    padding-right: 20px;
    flex: 500px;
    padding-left: 10px;
    padding-right: 50px;
}

.block4r {
    padding-right: 20px;
    flex: 500px;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 20px
}

/* block5 rewiews */ 

.block5 {
    background-color: #f5f5f5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.reviews {
color: #445161;
font-family: "Arial";
font-size: 30px;
padding-left: 50px;
padding-top: 30px;
}

.block5l {
    padding-left: 50px;
    padding-top: 35px;
    
}






















